USE [master]
GO
/****** Object:  Database [TaskPools]    Script Date: 2/25/2020 8:55:58 AM ******/
CREATE DATABASE [TaskPools]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'TaskPools', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER1\MSSQL\DATA\TaskPools.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'TaskPools_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER1\MSSQL\DATA\TaskPools_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TaskPools].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TaskPools]
GO
/****** Object:  StoredProcedure [dbo].[GetPostByRadious]    Script Date: 2/25/2020 8:55:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetPostByRadious](
    @RADIUS INT=0,
    @LAT NVARCHAR(max)='',
    @LONG NVARCHAR(max)='',
    @GEO1 GEOGRAPHY = NULL
	--- Test ---
		--exec GetPostByRadious 6,'19.813312000','85.831257000'
	---
	)
AS
BEGIN        
    
    SET @geo1= geography::Point(@LAT, @LONG, 4326)        
    
    SELECT  * ,LEFT(CONVERT(VARCHAR,(@geo1.STDistance(geography::Point(ISNULL(Latitude,0),ISNULL(Longitude,0), 4326)))/1000),5)+' Km' as DISTANCE 
     from Project_Details
    WHERE (@geo1.STDistance(geography::Point(ISNULL(Latitude,0),
    ISNULL(Longitude,0), 4326)))/1000 < @RADIUS Order by CreatedOn desc
    
END


GO
/****** Object:  StoredProcedure [dbo].[GetPostByUser]    Script Date: 2/25/2020 8:55:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create PROCEDURE [dbo].[GetPostByUser](
    @UserId INT=0
   
	--- Test ---
		--exec GetPostByUser 1
	---
	)
AS
BEGIN        
    
	Select * from Project_Details where IsActive = 1 and UserId=@UserId
	select pd.* from Project_Details pd inner join Favourites fav on fav.Projectid=pd.id where fav.Userid = @UserId
    
END

GO
/****** Object:  Table [dbo].[Favourites]    Script Date: 2/25/2020 8:55:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Favourites](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[Userid] [int] NULL,
	[Projectid] [int] NULL,
 CONSTRAINT [PK_Favourites] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Package_Plan]    Script Date: 2/25/2020 8:55:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Package_Plan](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[PackageName] [varchar](50) NULL,
	[Price] [numeric](18, 2) NULL,
	[Days] [int] NULL,
 CONSTRAINT [PK_PackagePlan] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Payment_Details]    Script Date: 2/25/2020 8:55:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Payment_Details](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NULL,
	[PaymentAmount] [decimal](18, 0) NULL,
	[PaymentTransationId] [varchar](max) NULL,
	[PaymentComment] [varchar](max) NULL,
	[PaymentDate] [datetime] NULL,
	[ReviewComment] [varchar](max) NULL,
	[ReviewDate] [datetime] NULL,
	[PackagePlanId] [int] NULL,
	[PackageEndDate] [datetime] NULL,
 CONSTRAINT [PK_Payment_Details] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Project_Category]    Script Date: 2/25/2020 8:55:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Project_Category](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[Category] [nvarchar](max) NULL,
	[Description] [nvarchar](max) NULL,
	[IsActive] [bit] NULL,
	[Image] [nvarchar](max) NULL,
 CONSTRAINT [PK_Project_Category1] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Project_Details]    Script Date: 2/25/2020 8:55:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Project_Details](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[CagegoryId] [int] NULL,
	[ProjectBudgetTo] [int] NULL,
	[ProjectBudgetFrom] [int] NULL,
	[ProjectTitle] [nvarchar](max) NULL,
	[Address] [varchar](max) NULL,
	[ProjectDescription] [varchar](max) NULL,
	[CommitionAmount] [decimal](18, 0) NULL,
	[LocationName] [nvarchar](max) NULL,
	[Latitude] [decimal](12, 9) NULL,
	[Longitude] [decimal](12, 9) NULL,
	[CommitionPaidStatus] [bit] NULL,
	[CommitionPaidAmount] [decimal](18, 0) NULL,
	[IsActive] [bit] NULL,
	[IsDelete] [bit] NULL,
	[IsComplete] [bit] NULL,
	[Image] [nvarchar](max) NULL,
	[CreatedOn] [datetime] NULL,
	[UpdatedOn] [datetime] NULL,
 CONSTRAINT [PK_Project_Details1] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TaskerReviews_Details]    Script Date: 2/25/2020 8:55:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TaskerReviews_Details](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NULL,
	[ReviewComment] [varchar](max) NULL,
	[ReviewPoint] [decimal](18, 2) NULL,
	[ReviewByUserId] [int] NULL,
	[ReviewDate] [datetime] NULL,
 CONSTRAINT [PK_TaskerReviewsDetails] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[User]    Script Date: 2/25/2020 8:55:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [nvarchar](max) NULL,
	[Password] [nvarchar](max) NULL,
	[PhoneNumber] [nvarchar](15) NULL,
	[Email] [nvarchar](30) NULL,
	[Name] [nvarchar](30) NULL,
	[Address] [nvarchar](max) NULL,
	[Identity_1] [nvarchar](max) NULL,
	[Identity_2] [nvarchar](max) NULL,
	[WorkTitle] [nvarchar](max) NULL,
	[WorkDescription] [nvarchar](max) NULL,
	[WorkContact] [nvarchar](max) NULL,
	[ShopCompanyName] [nvarchar](max) NULL,
	[ProfilePhoto] [nvarchar](max) NULL,
	[IsTaskerActive] [bit] NULL,
	[IsUserActive] [bit] NULL,
	[IsPremiumUser] [bit] NULL,
	[CreatedOn] [datetime] NULL,
	[UpdateOn] [datetime] NULL,
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[UserPackageDetails]    Script Date: 2/25/2020 8:55:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserPackageDetails](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NULL,
	[PackagePlanId] [int] NULL,
	[PackageStartDate] [datetime] NULL,
	[PackageEndDate] [datetime] NULL,
 CONSTRAINT [PK_PremiumUserDetails] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[UserVerification_Details]    Script Date: 2/25/2020 8:55:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[UserVerification_Details](
	[id] [int] NOT NULL,
	[UserId] [int] NULL,
	[VerificationComment] [varchar](max) NULL,
	[SubmitedDate] [datetime] NULL,
 CONSTRAINT [PK_UserVerification_Details] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[Favourites] ON 

GO
INSERT [dbo].[Favourites] ([id], [Userid], [Projectid]) VALUES (1, 1, 1)
GO
INSERT [dbo].[Favourites] ([id], [Userid], [Projectid]) VALUES (2, 1, 2)
GO
INSERT [dbo].[Favourites] ([id], [Userid], [Projectid]) VALUES (3, 1, 3)
GO
SET IDENTITY_INSERT [dbo].[Favourites] OFF
GO
SET IDENTITY_INSERT [dbo].[Package_Plan] ON 

GO
INSERT [dbo].[Package_Plan] ([id], [PackageName], [Price], [Days]) VALUES (1, N'15 Days', CAST(10.00 AS Numeric(18, 2)), 15)
GO
INSERT [dbo].[Package_Plan] ([id], [PackageName], [Price], [Days]) VALUES (2, N'30 Days', CAST(15.00 AS Numeric(18, 2)), 30)
GO
INSERT [dbo].[Package_Plan] ([id], [PackageName], [Price], [Days]) VALUES (3, N'90 Days', CAST(40.00 AS Numeric(18, 2)), 90)
GO
SET IDENTITY_INSERT [dbo].[Package_Plan] OFF
GO
SET IDENTITY_INSERT [dbo].[Project_Category] ON 

GO
INSERT [dbo].[Project_Category] ([id], [Category], [Description], [IsActive], [Image]) VALUES (1, N'Home Repairs', NULL, 1, NULL)
GO
INSERT [dbo].[Project_Category] ([id], [Category], [Description], [IsActive], [Image]) VALUES (2, N'Carpenter', NULL, 1, NULL)
GO
INSERT [dbo].[Project_Category] ([id], [Category], [Description], [IsActive], [Image]) VALUES (3, N'Plumbing', NULL, 1, NULL)
GO
SET IDENTITY_INSERT [dbo].[Project_Category] OFF
GO
SET IDENTITY_INSERT [dbo].[Project_Details] ON 

GO
SET IDENTITY_INSERT [dbo].[Project_Details] OFF
GO
USE [master]
GO
